{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block css %}
    <style>
        @media (min-width: 1400px) {
            .container {
                width: 100%;
                max-width: 500px;
                padding: 15px;
                margin: auto;
                color: white;
            }
        }

        .form-group {
            color: white;
        }

        .text-muted {
            /* --bs-text-opacity: 25; */
            color: #838683 !important;
        }
    </style>
{% endblock %}

{% block body %} <br><br><br><br>

    <div class="container">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <hr style="background-color: white; opacity: 0.9; height: 1px">
                <h3 style="text-align: center">Log In</h3>
                <hr style="background-color: white; opacity: 0.9; height: 1px">
                <br>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button href="" class="btn btn-outline-info" type="submit" style="width: 100%; line-height: 2">
                    Sign In
                </button>
            </div>
        </form>
        <br>
        <div class="border-top pt-3">
        </div>
        <br>
        <div style="text-align: center; color: white">
            Don't have an account? <a href="/register" style="color:blue">Create One</a>
        </div>
        <p style="text-align: center; color: white" class="mt-4">© 2021 by Roshan Rasal</p>
    </div>

{% endblock %}

