{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block css %}
    <style>
        @media (min-width: 1400px) {
            .container {
                max-width: 500px;
            }
        }

        .form-group {
            color: white;
        }

        .text-muted {
            /* --bs-text-opacity: 25; */
            color: #838683 !important;
        }
    </style>
{% endblock %}

{% block body %}
    <br>
    <div class="container">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <hr style="background-color: white; opacity: 0.9; height: 1px">
                <h3 style="color: white; text-align: center">Create Your Account</h3>
                <hr style="background-color: white; opacity: 0.9; height: 1px">
                <br>
                {% if messages %}
                    {% for message in messages %}
                        <div style="text-align: center" class="alert alert-{{ message.tags }}">{{ message }}</div>
                    {% endfor %}
                {% endif %}
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button href="" class="btn btn-outline-info" type="submit" style="width: 100%; line-height: 2">
                    Sign Up
                </button>
            </div>
        </form>
        <br>
        <hr style="background-color: white; opacity: 0.9; height: 1px">
        <br>
        <div style="text-align: center; color: white">
            Already have an account? <a href="/login" style="color:blue">Sign In</a>
        </div>
        <p style="text-align: center; color: white" class="mt-4">© 2021 by Roshan Rasal</p>
    </div>
    </div>
{% endblock %}




